/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* End of Reset Stylesheet */
:root {
  --sandDollar: #E4D4C8;
  --tan: #D0B49F;
  --brown: #A47551;
  --lighter-brown: #BB865F;
  --carafe: #523A28;
  --orange: #FF914D;

  --extra-small-text: 0.75rem;
  --smaller-text: 0.81rem;
  --small-text: 0.93rem;
  --normal-text: 1rem;
  --slightly-big-text: 1.12rem;
  --big-text: 1.25rem;

  --icon-size: 1.5rem;

  --section-heading: 2rem;
  --login-website-name: 2.87rem;
}

@font-face {
  font-family: 'iShot';
  src: url('font/I_shot_the_Serif_v1.ttf');
}

html, body {
  height: 100%;
  color: #412717;
}

a {
  color: #825B3E;
  text-decoration: none;
}

body {
  background-color: #F9F9FB;
  font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: var(--tan);
  border: none;
}

input {
  border: none;
}

label {
  display: inline-block;
}

p {
  font-weight: 300;
  line-height: 1.5;
}

/* Overlay */
.overlay {
  background-color: rgba(164, 117, 81, 0.7);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Icons */
.icon {
  color: var(--tan);
  cursor: pointer;
}

/* Inputs */
.input {
  background-color: #EBEBE9;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--normal-text);
  height: 2.5rem;
  margin: 10px 0 15px;
  padding: 0 5%;
  width: 100%;
}

.input:focus {
  border: none;
  outline: 1px solid var(--tan);
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

/* Search */
.search-field {
  display: block;
  position: relative;
}

.search {
  border-radius: 100px;
  border: 1px solid var(--tan);
  background-color: white;
  font-size: var(--small-text);
  min-height: 32px;
  height: 100%;
  margin: 0;
  padding: 0 15px;
  width: 100%;
}

.search:focus {
  outline: 1px solid var(--lighter-brown);
}

/* Select */
.select {
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  color: var(--tan);
  content: "▼";
  font-size: var(--small-text);
  pointer-events: none;
  position: absolute;
  right: 5%;
  top: 35%;
}

.select-wrapper option {
  margin: 5px;
}

/* Buttons */
.btn {
  background-color: var(--brown);
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--small-text);
  font-weight: 700;
  height: 2.5rem;
  padding: 0 20px;
  transition: background-color .2s ease;
}

.btn:hover {
  background-color: var(--lighter-brown);
}

.btn-submit {
  margin-top: 5%;
  width: 100%;
}

.btn-neutral {
  margin: 5% auto 0;
  text-align: center;
  width: 10.62rem;
}

span.btn-neutral, a.btn-neutral {
  padding: 13px;
}

.btn-secondary {
  display: block;
  cursor: pointer;
  font-size: var(--smaller-text);
  margin-top: 5%;
  padding: 5% 0;
}

.btn-secondary:hover {
  color: var(--brown);
}

.btn-schedule {
  border-radius: 100px;
  height: 2rem;
  padding: 0 20px;
}

.btn-schedule .icon {
  color: var(--tan);
  margin-right: 10px;
}

.btn-certificate {
  border-radius: 0;
  font-size: 1rem;
}

.btn-search {
  border-radius: 100%;
  display: inline-block;
  height: 25px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 10%;
  width: 25px;
}

.btn-search .icon {
  color: white;
  font-size: 10px;
  position: relative;
  top: -1.5px;
}

/* Texts */
.secondary-texts {
  font-weight: 300;
}

.clickable-text {
  cursor: pointer;
}

.underlined-text {
  text-decoration: underline;
}

.clickable-text:hover {
  color: var(--brown);
}

/* Headings */
.section-heading {
  font-size: var(--section-heading);
  font-weight: bold;
  margin-bottom: 8px;
}

/* Containers */
.container-center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.side-to-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half-of-whole {
  display: block;
  width: 49%;
}

.content {
  box-sizing: border-box;
  margin-left: 200px;
  padding: 30px;
}

.content-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  height: 100%;
}

.content-fill {
  padding: 0;
}

.section-header {
  margin-bottom: 10px;
}

/* Popup */
.popup {
  background-color: #F9F9FB;
  border-radius: 10px;
  margin: auto;
  min-width: 28%;
  padding: 30px;
  position: relative;
  z-index: 2;
  width: 28%;
}

.popup-header {
  justify-content: space-between;
  position: relative;
  text-align: center;
}

.popup .icon {
  left: 10%;
  font-size: var(--icon-size);
  position: absolute;
  top: -10%;
}

.popup-heading {
  font-size: var(--big-text);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.popup-btn-close {
  color: var(--tan);
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 0;
}

.popup-btn-close:hover {
  color: var(--brown);
}

.popup-body {
  text-align: justify;
}

.popup-description {
  font-size: var(--small-text);
  margin: 5% 0;
}

.popup-action-btns {
  margin: 3rem auto 0;
  width: 10.62rem;
  text-align: center;
}

/* Background Image */
.background-image-container {
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.background-image {
  filter: opacity(0.3);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Utilities */
.col-6 {
  flex-basis: 50%;
}

/* Navbar */
.navbar {
  background-color: var(--brown);
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 200px;
}

.navbar-brand {
  align-items: center;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.navbar-brand-logo {
  width: 20%;
}

.navbar-brand-text {
  font-size: 1rem;
  margin-top: 10px;
}

.navbar-nav {
  box-sizing: inherit;
  padding: 0 5%;
  flex-basis: 80%;
  text-align: left;
}

.nav-item {
  font-weight: 300;
  margin: 5px 0;
}

.active {
  border-radius: 100px;
  background-color: var(--tan);
  font-weight: 500;
}

.nav-link {
  color: white;
  display: block;
  font-size: 1rem;
  padding: 7% 12%;
}

.nav-link:hover {
  font-weight: 400;
}

.bottom-navbar-container {
  align-self: end;
  box-sizing: border-box;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 0 5%;
  text-align: left;
  width: 100%;
}

.nav-divider {
  margin: 1rem 12%;
}

.address {
  box-sizing: border-box;
  padding: 15px;
}

.address p {
  font-size: var(--smaller-text);
  margin-bottom: 5px;
}

.contact {
  font-size: var(--small-text);
}

/* Table */
.table-action-buttons {
  margin-bottom: 10px;
}

.table-select-action-buttons {
  display: flex;
  gap: 15px;
}

.table-select-action-buttons .btn {
  background-color: white;
  border: 1px solid var(--tan);
  color: var(--brown);
  font-size: var(--smaller-text);
  /* margin: 0 0 10px; */
  margin: 0;
  height: auto;
  padding: 8px 5px;
  width: 100px;
}

.table-select-action-buttons .btn .icon {
  margin-right: 5px;
}

.table-container {
  background-color: white;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(130, 91, 62, 0.3);
}

.table {
  width: 100%;
}

.table-header {
  background-color: var(--brown);
  box-shadow: 0px 5px 10px rgba(208, 180, 159, 0.2);
  color: white;
  position: sticky;
  text-align: left;
  top: 0;
}

.table th, .table td {
  padding: 20px;
  vertical-align: middle;
}

.table td {
  padding: 10px 20px;
}

.table-body {
  background-color: white;
  overflow: auto;
}

.table-body tr {
  border-bottom: 1px solid var(--lighter-brown);
  cursor: pointer;
  transition: background-color .1s ease, color .2s ease;
}

.table-body tr:hover, .row-selected {
  background-color: var(--lighter-brown);
  color: white;
  border-bottom-color: white !important;
}

.table-body tr:hover .btn-certificate {
  background-color: var(--tan);
}

.table-body tr:hover .btn-certificate:hover {
  background-color: white;
  color: var(--brown);
}

.table-body tr:hover .today, .row-selected-today {
  color: white !important;
  font-weight: 700;
}

.table-body tr th {
  /* padding: 0; */
  width: 5%;
}

.table input {
  /* padding: 20px; */
  width: 15px;
  height: 15px;
}

.no-action {
  display: block;
  height: 40px;
  width: 100%;
}

/* Login */
.login-container {
  box-shadow: 10px 10px 10px rgba(130, 91, 62, 0.3);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  width: 70%;
}

.login-1sthalf {
  align-items: center;
  background-image: linear-gradient(to right, var(--lighter-brown), var(--brown), #825B3E);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.login-logo {
  width: 30%;
}

.login-heading {
  font-size: var(--login-website-name);
  margin-top: 5%;
}

/* Login 2nd Half */
.login-2ndhalf {
  background-color: #F9F9FB;
  box-sizing: border-box;
  padding: 8% 10%;
  overflow: hidden;
  height: 100%;
}

.captcha-input {
  position: relative;
  display: block;
}

.captcha-input .icon {
  position: absolute;
  right: 3.5%;
  top: 35%;
}

.refresh-captcha:hover {
  color: var(--lighter-brown);
}

.login-options {
  align-items: center;
  display: flex;
  font-size: var(--extra-small-text);
  justify-content: space-between;
}

.sign-up-now {
  font-size: var(--extra-small-text);
  margin-top: 5%;
  text-align: center;
}

/* Signup */
#signup .popup {
  width: 50%;
}

#signup .side-to-side {
  margin-top: 1.5rem;
}

/* Email Verified */
#verified .popup-description {
  margin: 10% 0;
  text-align: center;
}

/* Dashboard */
.event-overview {
  display: flex;
  margin: 3% 0;
}

.event-counter {
  font-size: var(--slightly-big-text);
  margin-top: 10px;
}

.event-divider {
  margin: 1rem;
  transform: rotate(90deg);
  width: 40px;
}

.dashboard-box {
  background: var(--brown);
  box-shadow: 5px 5px 10px rgba(130, 91, 62, 0.3);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 21px;
  transition: transform .2s ease, box-shadow .2s ease;
  width: 49%;
}

.dashboard-box:hover {
  box-shadow: 10px 10px 10px rgba(130, 91, 62, 0.3);
  transform: scale(1.01);
}

.dashboard-box-header {
  height: 100px;
}

.dashboard-box-heading {
  font-size: var(--big-text);
}

/* Schedule Event */
#scheduleEvent .popup-action-btns {
  margin: 1.5rem auto 0;
}










/******************************************* User *******************************************/

/* Home */
.home-header {
  position: relative;
  text-align: center;
}

.header-image {
  height: 421px;
  object-fit: cover;
  width: 100%;
}

.header-slides-images {
  width: 1166px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 10px;
  background-color: var(--brown);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: var(--tan);
}

.header-description {
  margin: 3%;
  text-align: justify;
  text-indent: 50px;
}









/* BAPTISMAL */
/* .details-bap {
  box-sizing: border-box;
  padding: 5% 8%;
  overflow: hidden;
  height: 100%;
} */

/* .nav2-divider {
  width: 100%;
} */

/* .btn-submit2 {
  position: relative;
  top: -30px;
  left: 900px;
  width: 100%;
}

.btn-submit22 {
  position: relative;
  top: -30px;
  left: -900px;
  width: 100%;
} */

.form-heading {
  font-size: 1.8rem;
  font-weight: 100%;
  margin-bottom: 8px;
}

.details-bap2 {
  font-size: 0.81rem;
  box-sizing: border-box;
  padding: 2% 5%;
  overflow: hidden;
  height: 100%;
}

.side-to-side2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.side-to-side3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details-bap0 {
  font-size: 0.81rem;
  box-sizing: border-box;
  padding: 0% 1%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.content-new {
  font-size: var(--extra-small-text);
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  padding: 3%;
}

.ahkdog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chisdog {
  display: flex;
  width: calc(2000% / 5 - 15px);
  flex-direction: column;
  padding: 2%;
}

.ahkdog2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chisdog2 {
  display: flex;
  width: calc(2000% / 5 - 20px);
  flex-direction: column;
  padding: 2%;
}

.bap3-spon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bap3-nga {
  display: flex;
  width: calc(2000% / 5 - 20px);
  flex-direction: column;
  padding: 2%;
}

.btn-submit3 {
  position: relative;
  top: 180px;
  left: -180px;
  width: 100%;
}

.btn-submit4 {
  position: relative;
  top: 180px;
  left: -1050px;
  width: 100%;
}

.btn-submit5 {
  position: relative;
  top: 50px;
  left: 950px;
  width: 10%;
}

.btn-submit6 {
  position: relative;
  top: -15px;
  left: 20px;
  width: 10%;
}

.bottom-navbar-container2 {
  box-sizing: border-box;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 0 5%;
  text-align: left;
  width: 100%;
  color: white;
}














/* Functionality */
.hidden {
  display: none;
}

.active {
  border-radius: 100px;
  background-color: var(--tan);
  font-weight: 500;
}

.today {
  color: var(--orange);
  font-weight: 700;
}
