/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* End of Reset Stylesheet */
/************************************************ Start Codes ************************************************/
:root {
  --sandDollar: #E4D4C8;
  --tan: #D0B49F;
  --lighter-brown: #BB865F;
  --brown: #A47551;
  --carafe: #523A28;
  --orange: #FF914D;
  --extra-small-text: 0.75rem;
  --smaller-text: 0.81rem;
  --small-text: 0.93rem;
  --normal-text: 1rem;
  --slightly-big-text: 1.12rem;
  --big-text: 1.25rem;
  --bigger-text: 1.5rem;
  --heading: 2rem;
  --login-website-name: 2.87rem;
}

html, body {
  height: 100%;
  color: #412717;
}

a {
  color: #825B3E;
  text-decoration: none;
}

body {
  background-color: #F9F9FB;
  font-family: 'Montserrat', sans-serif;
}

figcaption {
  font-size: 1rem;
}

hr {
  background-color: var(--tan);
  border: none;
}

input {
  border: none;
}

label {
  display: inline-block;
}

main {
  max-width: 1170px;
}

p {
  font-weight: 300;
  line-height: 1.5;
}

/* Overlay */
.overlay {
  background-color: rgba(164, 117, 81, 0.7);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Icons */
.icon {
  color: var(--tan);
  cursor: pointer;
}

/*************************************************** Inputs ***************************************************/
.input {
  background-color: #EBEBE9;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--normal-text);
  height: 2.5rem;
  margin: 10px 0 15px;
  padding: 0 20px;
  width: 100%;
}

.input:focus {
  border: none;
  outline: 1px solid var(--tan);
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.textarea {
  border: none;
  height: auto;
  padding: 16px 25px;
  resize: vertical;
}

/* Search */
.search-field {
  display: block;
  position: relative;
  margin: 10px 0;
}

.search {
  border-radius: 100px;
  border: 1px solid var(--tan);
  background-color: white;
  font-size: var(--small-text);
  min-height: 32px;
  height: 100%;
  margin: 0;
  padding: 0 15px;
  width: 100%;
}

.search:focus {
  outline: 1px solid var(--lighter-brown);
}

/* Select */
.select {
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  color: var(--tan);
  content: "▼";
  font-size: var(--small-text);
  pointer-events: none;
  position: absolute;
  right: 5%;
  top: 35%;
}

.select-wrapper option {
  margin: 5px;
}

/*************************************************** buttons ***************************************************/
.btn {
  background-color: var(--brown);
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--small-text);
  font-weight: 700;
  height: 2.5rem;
  padding: 0 20px;
  transition: background-color .2s ease;
}

.btn:hover {
  background-color: var(--lighter-brown);
}

.btn:active {
  background-color: var(--brown);
}

.btn-submit {
  margin-top: 5%;
  width: 100%;
}

.btn-neutral {
  margin: 5% auto 0;
  text-align: center;
  width: 10.62rem;
}

span.btn-neutral, a.btn-neutral {
  padding: 13px;
}

.btn-secondary {
  display: block;
  cursor: pointer;
  font-size: var(--smaller-text);
  margin-top: 5%;
  padding: 5% 0;
}

.btn-secondary:hover {
  color: var(--brown);
}

.btn-schedule {
  border-radius: 100px;
  height: 2rem;
  padding: 0 20px;
}

.btn-schedule .icon {
  color: var(--tan);
  margin-right: 10px;
}

.btn-certificate {
  border-radius: 0;
  font-size: 1rem;
}

.btn-search {
  border-radius: 100%;
  display: inline-block;
  height: 25px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 10%;
  width: 25px;
}

.btn-search .icon {
  color: white;
  font-size: 10px;
  position: relative;
  top: -1.5px;
}

.btn-outline, .btn-outline-light {
  border: 1px solid var(--brown);
  background-color: transparent;
  color: var(--carafe);
  font-weight: 400;
  padding: 0 20px;
}

.btn-outline-light {
  color: white;
  background-color: rgba(130, 91, 62, 0.1);
}

.btn-outline:hover {
  background-color: white;
}

.btn-outline-light:hover {
  color: var(--carafe);
  background-color: white;
}

/*************************************************** Texts ***************************************************/
.section-description {
  margin: 1rem 0 2rem;
  text-align: justify;
  text-indent: 50px;
}

.secondary-texts {
  font-weight: 300;
}

.clickable-text {
  cursor: pointer;
}

.underlined-text {
  text-decoration: underline !important;
}

.clickable-text:hover {
  color: var(--brown);
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.heading2, .heading3, .heading4 {
  font-size: var(--bigger-text);
  font-weight: 600;
  margin: 1rem 0;
}

.heading3, .heading4 {
  font-size: var(--big-text);
  font-weight: 500;
}

.heading4 {
  font-size: var(--normal-text);
}

.section-heading {
  font-size: var(--heading);
  font-weight: bold;
  margin-bottom: 8px;
}

/*************************************************** Containers ***************************************************/
.wrapper {
  margin: auto;
  width: 85%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  grid-auto-columns: minmax(0, 1fr);
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.side-to-side {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  box-sizing: border-box;
  margin-left: 200px;
  padding: 30px;
  min-height: 100%;
}

.content-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-fill {
  padding: 0;
}

.section-header {
  margin-bottom: 10px;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  overflow: hidden;
}

.slider>div {
  transition: all 0.5s ease;
}

.slider-animate>div {}

.center-horizontal {
  margin: auto;
  text-align: center;
}

/*************************************************** Popups ***************************************************/
.popup {
  background-color: #F9F9FB;
  border-radius: 10px;
  margin: auto;
  min-width: 28%;
  padding: 30px;
  position: relative;
  z-index: 2;
  width: 28%;
}

.popup-header {
  justify-content: space-between;
  position: relative;
  text-align: center;
}

.popup .icon {
  left: 10%;
  font-size: var(--bigger-text);
  position: absolute;
  top: -10%;
}

.popup-heading {
  font-size: var(--big-text);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.popup-btn-close {
  color: var(--tan);
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 0;
}

.popup-btn-close:hover {
  color: var(--brown);
}

.popup-body {
  text-align: justify;
}

.popup-description {
  font-size: var(--small-text);
  margin: 5% 0;
}

.popup-action-btns {
  margin: 3rem auto 0;
  width: 10.62rem;
  text-align: center;
}

/*************************************************** Background Image ***************************************************/
.background-image-container {
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.background-image {
  filter: opacity(0.3);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/*************************************************** Navbar ***************************************************/
.navbar {
  background-color: var(--brown);
  box-shadow: 5px 0 5px rgba(130, 91, 62, 0.3);
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 200px;
  z-index: 3;
}

.navbar-brand {
  align-items: center;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.navbar-brand-logo {
  width: 20%;
}

.navbar-brand-text {
  font-family: 'Alegreya SC', serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  width: 75%;
}

.navbar-nav {
  box-sizing: inherit;
  padding: 0 5%;
  flex-basis: 80%;
  text-align: left;
}

.nav-item {
  font-weight: 300;
  margin: 5px 0;
}

.active {
  border-radius: 100px;
  background-color: var(--tan);
  font-weight: 500;
}

.nav-link {
  color: white;
  display: block;
  font-size: 1rem;
  padding: 7% 12%;
}

.nav-link:hover {
  font-weight: 400;
}

.bottom-navbar-container {
  align-self: end;
  box-sizing: border-box;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 0 5%;
  text-align: left;
  width: 100%;
}

.nav-divider {
  margin: 1rem 12%;
}

.address {
  box-sizing: border-box;
  padding: 15px;
}

.address p {
  font-size: var(--smaller-text);
  margin-bottom: 5px;
}

.contact {
  font-size: var(--extra-small-text);
  font-weight: 400;
}

/*************************************************** Table ***************************************************/
.table-select-action-buttons {
  margin: 10px 0;
}

.table-select-action-buttons .btn-submit .icon, .table-select-action-buttons .btn-neutral .icon {
  margin-right: 5px;
}

.table-container {
  background-color: white;
  box-shadow: 5px 5px 8px rgba(130, 91, 62, 0.3);
  height: 100%;
  overflow: auto;
}

.table {
  width: 100%;
}

.table-header {
  background-color: var(--brown);
  box-shadow: 0px 5px 5px rgba(208, 180, 159, 0.2);
  color: white;
  position: sticky;
  text-align: left;
  top: 0;
}

.table th, .table td {
  padding: 20px;
  vertical-align: middle;
}

.table td {
  padding: 10px 20px;
}

.table-body {
  background-color: white;
  overflow: auto;
}

.table-body tr {
  border-bottom: 1px solid var(--lighter-brown);
  cursor: pointer;
  transition: background-color .1s ease, color .2s ease;
}

.table-body tr:hover, .row-selected {
  background-color: var(--lighter-brown);
  color: white;
  border-bottom-color: white !important;
}

.table-body tr:hover .btn-certificate {
  background-color: var(--tan);
}

.table-body tr:hover .btn-certificate:hover {
  background-color: white;
  color: var(--brown);
}

.table-body tr:hover .today, .row-selected-today {
  color: white !important;
  font-weight: 700;
}

.table-body tr th {
  width: 5%;
}

.table input {
  width: 15px;
  height: 15px;
}

.no-action {
  display: block;
  height: 40px;
  width: 100%;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--lighter-brown);
  outline: 1px solid var(--tan);
}

#tableSelectOptions .row-flex {
  gap: 15px;
}

.table-select-action-buttons#tableSelectOptions {
  margin: 10px 0 0;
}

#tableSelectOptions .btn {
  background-color: white;
  border: 1px solid var(--tan);
  color: var(--brown);
  font-size: var(--smaller-text);
  margin: 0;
  height: auto;
  padding: 8px 5px;
  width: 100px;
}

#deleteRow .popup-description {
  font-size: 1.18rem;
  font-weight: 500;
}

#deleteRow .btn-neutral {
  width: 100%;
  background-color: var(--carafe);
}

/*************************************************** Forms ***************************************************/
.form-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.form-page .side-to-side:last-of-type {
  margin-top: 20px;
}

.form-page>.side-to-side:last-of-type .btn {
  width: 150px;
}

.form-actions {
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 30%;
}

.form-actions * {
  margin: 0;
}

/*************************************************** By Pages ***************************************************/
/******************************************* Login *******************************************/
.login-container {
  box-shadow: 10px 10px 10px rgba(130, 91, 62, 0.3);
  grid-gap: 0;
  width: 70%;
}

.login-logo-container {
  align-items: center;
  background-image: linear-gradient(to right, var(--lighter-brown), var(--brown), #825B3E);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.login-logo {
  width: 30%;
}

.login-logo-container .big-heading {
  font-family: 'Alegreya SC', serif;
  font-size: var(--login-website-name);
  margin-top: 5%;
}

/* Login Form */
.login-form {
  background-color: #F9F9FB;
  box-sizing: border-box;
  padding: 8% 10%;
  overflow: hidden;
  height: 100%;
}

.captcha-input {
  position: relative;
  display: block;
}

.captcha-input .icon {
  position: absolute;
  right: 3.5%;
  top: 35%;
}

.refresh-captcha:hover {
  color: var(--lighter-brown);
}

.login-options {
  align-items: center;
  display: flex;
  font-size: var(--extra-small-text);
  justify-content: space-between;
}

.sign-up-now {
  font-size: var(--extra-small-text);
  margin-top: 5%;
  text-align: center;
}

/******************************************* Signup *******************************************/
#signup .popup {
  width: 50%;
}

#signup .side-to-side {
  margin-top: 1.5rem;
}

/******************************************* Email Verified *******************************************/
#verified .popup-description {
  margin: 10% 0;
  text-align: center;
}

/******************************************* Dashboard *******************************************/
.dashboard-panel {
  margin-top: 140px;
}

.dashboard-box {
  background: var(--brown);
  box-shadow: 5px 5px 2.5px rgba(130, 91, 62, 0.3);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 21px;
  transition: all .2s ease;
  width: 49%;
}

.dashboard-box:hover {
  box-shadow: 8px 8px 5px rgba(130, 91, 62, 0.3);
  transform: scale(1.01);
}

.dashboard-box-header {
  height: 200px;
}

.dashboard-box-heading {
  font-size: var(--big-text);
}

/******************************************* Events *******************************************/
.event-overview {
  display: flex;
  margin-bottom: 10px;
}

.event-overview .secondary-texts {
  font-size: 0.56rem;
  font-weight: 400;
}

.event-counter {
  font-size: 0.68rem;
  margin-top: 5px;
}

.event-divider {
  transform: rotate(90deg);
  width: 30px;
}

/* Schedule Event */
#scheduleEvent .popup-action-btns {
  margin: 1.5rem auto 0;
}

/******************************************* Certificate *******************************************/
.verify-code {
  color: #FF1616;
}

.resultText {
  font-size: var(--bigger-text);
  margin: 50px auto;
  text-align: center;
}

/******************************************* Activity Details *******************************************/
.activity-details {
  padding: 0 25px;
}

/******************************************* Baptismal *******************************************/
#baptismalScheduleForm {
  flex-wrap: nowrap;
}

.form-page .side-to-side .btn-secondary {
  font-weight: 400;
  margin: 0;
}

.sponsor .heading4 {
  font-weight: 700;
  text-align: center;
}

.sponsor-form {
  margin: 0 25px;
}

/******************************************* Details *******************************************/
.details-page {
  background-color: white;
  box-shadow: 2px 0 10px rgba(130, 91, 62, 0.1);
  margin-right: 60px;
  margin-left: 260px;
  padding: 30px
}

.section-header#certificateHeader {
  margin-bottom: 30px;
  transition: all 0.5s ease;
}

.certificateHeader {
  animation: certificate-appear 0.5s ease;
  background-color: white;
  box-shadow: 0 5px 5px -5px rgba(130, 91, 62, 0.3);
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.section-header .side-to-side {
  margin-top: 0 !important;
}

/* Prayer Meeting */
.stream-link {
  margin: auto;
  width: 50%;
}

/******************************************* User *******************************************/
/* Home */
.wrapper .heading2 {
  font-size: 2rem;
}

.home-header {
  text-align: center;
}

.sliding-image-container {
  position: relative;
}

.home-heading {
  color: white;
  left: 10%;
  position: absolute;
  text-align: left;
  top: 20%;
  width: 85%;
}

.image-overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

#headerSlide {
  margin: 0;
}

#headerSlide .col-12 {
  padding: 0;
}

.header-image {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 3px 0;
  background-color: var(--lighter-brown);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: var(--tan);
}

.view-list {
  position: relative;
  transition: all 0.5s ease;
}

.view-list .clickable-text:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -10px;
  top: 0;
  transition: all 0.5s;
}

.view-list:hover {
  padding-right: 10px;
}

.view-list:hover .clickable-text:after {
  opacity: 1;
  right: 0;
}

/* Home Event */
.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}

.carousel>input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.carousel>input:nth-of-type(6):checked~.carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}

.carousel>input:nth-of-type(5):checked~.carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}

.carousel>input:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}

.carousel>input:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}

.carousel>input:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}

.carousel>input:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}

.carousel>input:nth-of-type(1):checked~.carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(164, 117, 81, 1);
}

.carousel>input:nth-of-type(2):checked~.carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(164, 117, 81, 1);
}

.carousel>input:nth-of-type(3):checked~.carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(164, 117, 81, 1);
}

.carousel>input:nth-of-type(4):checked~.carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(164, 117, 81, 1);
}

.carousel>input:nth-of-type(5):checked~.carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(164, 117, 81, 1);
}

.carousel>input:nth-of-type(6):checked~.carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(164, 117, 81, 1);
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}

.carousel__slide figure {
  display: flex;
  margin: 0;
}

.carousel__slide div {
  position: relative;
  width: 100%;
}

.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}

.carousel__slide div>img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}

.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 35%;
  min-width: 150px;
  font-size: 1.5rem;
}

.carousel__slide .credit {
  font-size: var(--normal-text);
  margin-top: 1rem;
  color: rgba(164, 117, 81, 1);
  display: block;
}

.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}

.carousel__slides+.carousel__thumbnails {
  margin-top: 2.5rem;
}

.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
  display: block;
  position: relative;
}

.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel__thumbnails label>img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}

.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(164, 117, 81, 1);
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Home Activities */
.grid-image {
  width: 100%;
  height: 100%;
}

.activity-grid-box {
  position: relative;
}

.activity-name-container {
  background: linear-gradient(to top, rgba(164, 117, 81, 0.4), rgba(187, 134, 95, 0.2), rgba(208, 180, 159, 0.0));
  bottom: 0;
  box-sizing: border-box;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}

.activity-name-container .heading3 {
  color: white;
  font-weight: 600;
}

/* Call To Action */
.cta.row {
  display: flex;
}

.cta .btn {
  height: 3rem;
  margin-top: 30px;
  width: 200px;
}

/******************************************* Functionality *******************************************/
.active {
  border-radius: 100px;
  background-color: var(--tan);
  font-weight: 500;
}

.disabled {
  background-color: var(--tan);
  cursor: auto;
}

.btn.disabled:hover {
  color: white !important;
  background-color: var(--tan) !important;
}

.done {
  color: #AD9384;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.today {
  color: var(--orange);
  font-weight: 700;
}

/******************************************* Animations *******************************************/
.expand {
  animation: expand-animation 0.5s ease;
  transform-origin: left;
}

@keyframes expand-animation {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes certificate-appear {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
